*/.groovy
.classpath
*/.classpath
.metadata
.project
.settings
target
*.log
*.war
Servers
.DS_Store
Thumbs.db
nbactions.xml
Version.java
idrop-web/web-app/WEB-INF/classes/
*.jar
nb-configuration.xml
**/bin
/idrop-web/target-eclipse/
