html * {
	margin: 0;
	/*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
body {
	background: #ffffff;
	color: #210021;
	font: 11px verdana, arial, helvetica, sans-serif;
}

a:link,a:visited,a:hover {
	color: #330033;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #210021;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .3em 0;
}

ul {
	padding-left: 15px;
}

/* form styling */
div.box {
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #C6CFE1;
	color: #333333;
	margin-bottom: 20px;
	padding: 10px;
}

div.box .input-text {
	background: #;
	border: 1px solid;
	color: #666666;
}

div.box label {
	display: block;
	fload: left;
	margin-bottom: 10px;
	color: #555555;
	margin-bottom: 10px;
}

div.box label span {
	display: block;
	float: left;
	padding-right: 6px;
	width: 70px;
	text-align: right;
}

div.scroll {
	overflow: auto;
	padding: 8px;
}

div#tabs {
	/*width: 100%;
	height: 100%;
	display: inline-block;
	clear: both;*/
	clear: both;
	overflow; auto;
	display: block;
	position: relative;
}

/*
.wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border: 0;
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
}*/

.colRight {
	position: relative;
	float: right;
	width: 350px;
	display: block;
	overflow: auto;
}

.colLeft {
	position: relative;
	float: left;
	width: 450px;
	display: block;
	overflow: auto;
}

.roundedContainer {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 8pt;
	-moz-border-radius-bottomright: 8pt;
	-moz-border-radius-topleft: 8pt;
	-moz-border-radius-topright: 8pt;
	background: #FFFFFF none repeat scroll 0 0;
	border: 3px solid #000000;
	cursor: default;
	padding: 3px;
	margin: 3px;
	display: block;
	position: relative;
}

.body {
	float: left;
	margin: 0 15px 10px 15px;
}

/*  banner and top bar */
#bannercontainer {
	width: 800px;
	height: 50px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	background: #fff url(../images/iDropLogo.png) left center no-repeat;
	display: inline-block;
	position: relative;
}

#headerSearchBox {
	width: 100%;
	height: auto;
	margin: 5px;
	display: block;
	position: relative;
	float: left;
}

#mainDivColl {
	clear:both;
	width: auto;
	height: auto;
	position: relative;
}

/* NAVIGATION MENU */
.nav {
	background: #aabbc2 bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.fg-toolbar {
	padding: .5em;
	margin: 0;
	display: block;
	clear: both;
	
}

.fg-toolbar .fg-buttonset {
	margin-right: 1.5em;
	padding-left: 1px;
}

.fg-toolbar .fg-button {
	font-size: 1em;
}

.menuButton {
	font-size: 10px;
	padding: 0 5px;
}

.menuButton a {
	color: #A19E51;
	padding: 4px 6px;
}

.menuButton a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	color: #A19E51;
	padding-left: 25px;
}

.menuButton a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #A19E51;
	padding-left: 25px;
}

.menuButton a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #A19E51;
	padding-left: 25px;
}

/* MESSAGES AND ERRORS */
.message {
	background: #331B00 url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #fff;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	display:block;
	overflow:auto;
	width:90%;
	/*height:55px;*/
	position:relative;
}

div.errors {
	background: #992699;
	border: 1px solid;
	color: #f0f0f0;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

td.errors textarea {
	border: 1px solid red;
}

/* TABLES */
table {
	border: 1px solid #ccc;
	width: 100%
}

tr {
	border: 0;
	padding: 8px;
}

td,th {
	font: 14px verdana, arial, helvetica, sans-serif;
	line-height: 14px;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #fff url(../images/skin/shadow.jpg);
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
}

th a:link,th a:visited,th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

th.asc a,th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #B0BDC2;
}

.even {
	background: #E1E6C7;
}

/* ACTION BUTTONS */
.buttons {
	background: #244857 url(../images/skin/shadow.jpg) bottom repeat-x;
	text-align: right;
	border: 1px solid;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
	border: 1px solid;
}

.buttons input {
	background: #011720;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}

#quickView {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333333;
	margin-bottom: 3px;
	padding: 3px;
	width: auto;
	height: auto;
	display: block;
	overflow: auto;
}
/* object container */
.objectContainer {
	color: #333333;
	dislay: inline-block;
	clear: both;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 8pt;
	-moz-border-radius-bottomright: 8pt;
	-moz-border-radius-topleft: 8pt;
	-moz-border-radius-topright: 8pt;
	background: #FFFFFF none repeat scroll 0 0;
	border: 3px solid #000000;
	cursor: default;
	padding: 3px;
	margin: 3px;
	display: inline-block;
}

.objectContainerGrouping {
	color: #999999;
	font-weight: normal;
	left: -5em;
	padding-top: 9px;
	position: relative;
	text-align: left;
	top: -1px;
	width: 5em;
}

.objectContainerDetails {
	float: right;
	text-align: left;
	display: inline-block;
}

.objectHeader {
	display: block;
	fload: left;
	margin-bottom: 10px;
	color: #555555;
	margin-bottom: 10px;
}

.objectDescription {
	color: #210021;
	font-weight: normal;
	font-size: 12px;
	margin: .8em 0 .3em 0;
}

.objectContainerActions {
	display: block;
	float: left;
	padding: 10px;
}

.objectContainerTags {
	display: block;
	float: right;
	padding: 10px;
}

/* standard form layouts */
#columnarForm fieldset {
	float: left;
	display: block;
	width: 17em;
	margin: 0 1em 1em 0;
	padding: 0 1em 1em 1em;
}

#columnarForm fieldset.radio {
	width: 15em;
	margin: 1em 0 2em 0;
}

#columnarForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#columnarForm fieldset.radio label {
	font-weight: normal;
}

#columnarForm input {
	display: block;
	width: 15em;
}


#columnarForm textarea {
	display: block;
	width: 15em;
}

#columnarForm label {
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#columnarForm label.first {
	padding-top: 1em;
}

#columnarForm select {
	display: block;
}

#horizontalForm fieldset {
	display: block;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#horizontalForm fieldset.radio {
	margin: 1em 0 2em 0;
}

#horizontalForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#horizontalForm fieldset.radio label {
	font-weight: normal;
}

#horizontalForm input {
	display: block;
	width: 15em;
}


#horizontalForm textarea {
	display: block;
	width: 15em;
}

#horizontalForm input.submit {
	clear: both;
}

#horizontalForm label {
	float: left;
	display: block;
	margin: 1em 1em 0 0;
	font-weight: bold;
}

#horizontalForm select {
	display: block;
}

#marginForm fieldset {
	display: block;
	margin: 0 0 1em 0;
	border: 0 solid #FFFFFF;
	border-top: 1px solid #000000;
	padding: 0 1em 1em 1em;
}

#marginForm fieldset.radio {
	margin: 0 0 0 -1em;
	border: 0 solid #FFFFFF;
}

#marginForm fieldset.radio input {
	position: static;
	clear: both;
	float: left;
}

#marginForm fieldset.radio label {
	position: relative;
	top: -1.25em;
	display: inline;
	width: auto;
	margin: 0 0 0 8em;
	font-weight: bold;
	font-weight: normal;
}

#marginForm fieldset.radio legend {
	float: left;
	font-weight: bold;
}

#marginForm input {
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}


#marginForm textarea {
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#marginForm input.submit {
	clear: both;
	top: 0;
}

#marginForm label {
	clear: both;
	float: left;
	display: block;
	width: 8em;
	margin-top: -1em;
	font-weight: bold;
}

#marginForm label.first {
	margin-top: 1em;
}

#marginForm select {
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#verticalForm fieldset {
	display: block;
	width: 17em;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#verticalForm fieldset.radio {
	width: 15em;
	margin: 1em 0 2em 0;
}

#verticalForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#verticalForm fieldset.radio label {
	font-weight: normal;
}

#verticalForm input {
	display: block;
	width: 20em;
}


#verticalForm textarea {
	display: block;
	width: 20em;
}

#verticalForm label {
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#verticalForm label.first {
	padding-top: 1em;
}

#verticalForm select {
	display: block;
}

/* details section */
#detailsTopSection {
	display: block;
	clear: both;
}

/*  browser */
/*
#browse {
	background: #ffffff;
	padding: 0;
	height: 95%;
	width: 100%;
	margin: 0;
	padding: 0;
} */

#secondaryDiv {
	height: 400px;
	display: inline-block; //
	overflow: auto;
}

#tagCloudDiv {
	height: 400px;
	display: inline-block;
	width: 100%;
	overflow: auto;
}

#dataTreeDiv {
	float: left;
	height: auto;
	width: 40%;
	border-top: solid 1px #9cbdff;
	background: #ffffff;
	overflow: auto;
}


#dataTreeView {
	height: 90%;
	width: 100%;
	clear: both;
	/*background: #ffffff;
	overflow: auto;*/
}



#infoDiv {
	width: auto;
	height:auto;
	padding:3px;
	overflow: auto;
	/*height: 100%;*/
	/*background: #f4f4f4;*/
}

#detailsToolbar {
	text-align: left;
	height:25px;
	margin: 0px auto;
	padding: 0px;
	border: 0;
	display: inline-block;
	overflow: auto;
	width:100%;
}


/* file upload dialog */
#file_upload_container {
	margin: 5px;
}


/* idrop lite area */
#idropLiteArea {
	clear: both;
	display: block;
	position: relative;
}

#appletMenu {
	clear:both;
	display:block;
	position: relative;
	float:none;
}

#appletTagDiv {
	clear:both;
	display:inline-block;
	position: relative;
}

