<div id="home-center">

    <div class="row">
        <div x-ng-include="'assets/home/collectionActions-angularjs.html'"></div>
     </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>{{ 'KIND' | translate }}</th>
                    <th>{{ 'NAME' | translate }}</th>
                    <th>{{ 'SIZE' | translate }}</th>
                    <th>{{ 'MODIFIED' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="newFolderAction">

                    <td><input ng-model="newFolderInfo.name" type="text"
                                                           placeholder="{{ 'NEW_FOLDER_NAME' | translate }}" /></td>
                    <td colspan="4"><div class="btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign" ng-click="addDirectory()"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove-sign" ng-click="cancelAddDirectory()"></span></button>
                    </div></td>
                </tr>
                <tr ng-repeat="d in pagingAwareCollectionListing.collectionAndDataObjectListingEntries"
                    ng-init="showit=false" ng-click="updateSelectedFromCollection(d.formattedAbsolutePath)">

                        <td><input name="selectedItems[]" value="d.formattedAbsolutePath"
                                   ng-checked="selection.indexOf(d.formattedAbsolutePath) > -1"
                                   type="checkbox"></td>
                        <td>
                            <span class="glyphicon    {{d | fileIcon}}"/>
                        </td>
                        <td ng-show="d.objectType.name == 'COLLECTION'"><a
                                href="#/home/{{selectedVc.data.uniqueName}}?path={{d.formattedAbsolutePath}}">
                            {{d.nodeLabelDisplayValue | abbreviateFileName}}</a>
                        </td>
                        <td ng-hide="d.objectType.name == 'COLLECTION'">
                            {{d.nodeLabelDisplayValue | abbreviateFileName}}
                        </td>
                        <td> {{d | hideSizeForCollection}}</td>
                        <td>{{d.createdAt}}</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
    <!--
        <div class="row stretch-row emperor-grey">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="btn-toolbar pad-vertical" role="toolbar">
                    <div class="btn-group">
                        <button ng-click="page('first')" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </button>
                        <button ng-click="page('prev')" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-backward"></span>
                        </button>

                        <button ng-repeat="n in pages()" ng-click="page($index)" type="button" class="btn btn-default">
                            {{n}}
                        </button>
                        <button ng-click="page('next')" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>

                        <button ng-click="page('last')" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        -->

</div>

