<div x-ng-include="'assets/file/nav-angularjs.html'"></div>
<div >
    <div x-ng-include="'assets/file/data-object-name-jumbotron-angularjs.html'"></div>
    <div class=" pad-vertical">
        <div class="row">

            <div class="col-md-10">
                <div class="">

                    <div class="row top-buffer" >
                        <div class="col-md-2">
                            <span class="text-right"><h5>{{ 'LENGTH' | translate }}:</h5></span>
                        </div>
                        <div class="col-md-10">
                            <h5><span class="text-left">{{ file.data.domainObject.displayDataSize}}</span></h5>
                        </div>
                    </div>
                    <div class="row top-buffer-sm">

                        <div class="col-md-2">
                          <h5>  <span class="text-right"><h5>{{ 'CREATED' | translate }}:</h5></span>
                        </div>
                        <div class="col-md-10">
                          <h5>  <span class="text-left">{{ file.data.domainObject.createdAt}}</span></h5>
                        </div>
                    </div>
                    <div class="row top-buffer-sm">
                        <div class="col-md-2">
                            <span class="text-right"><h5>{{ 'MODIFIED' | translate }}:</h5></span>
                        </div>
                        <div class="col-md-10">
                         <h5><span class="text-left">{{ file.data.domainObject.updatedAt}}</span></h5>
                        </div>
                    </div>

                    <div class="row top-buffer-sm" ng-mouseenter="showChecksum()" ng-mouseleave="hideChecksum()">
                        <div class="col-md-2">
                            <span class="text-right"><h5>{{ 'CHECKSUM' | translate }}:</h5></span>
                        </div>
                        <div class="col-md-6">
                            <h5><span class="text-left">{{ file.data.domainObject.checksum}}</span></h5>
                        </div>
                        <div class="col-md-4 " >
                            <span class="animate-show-hide" ng-show="checksumVisible"> <button  class="btn btn-primary btn-sm " ng-click="updateChecksum()">
                             <span>{{ 'COMPUTE_CHECKSUM' | translate }}</span>
                            </button></span>
                        </div>
                    </div>


                    <div class="row top-buffer-sm" ng-mouseenter="showTag()" ng-mouseleave="hideTag()">
                        <div class="col-md-2">
                            <span class="text-right"><h5>{{ 'TAGS' | translate }}:</h5></span>
                        </div>
                        <div class="col-md-6">
                            <input  class="form-control" id="tags" placeholder="Enter tags separated by spaces" ng-model="file.data.tagString">
                        </div>

                        <div class="col-md-4 " >
                            <span class="animate-show-hide" ng-show="tagVisible"> <button  class="btn btn-primary btn-sm " ng-click="updateTags()">
                                <span>{{ 'UPDATE_TAGS' | translate }}</span>
                            </button></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row pad-vertical">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'METADATA' | translate }}</div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th>{{ 'ATTRIBUTE' | translate }}</th>
                                <th>{{ 'VALUE' | translate }}</th>
                                <th>{{ 'UNIT' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="avu in file.data.metadata">

                                <td>{{avu.avuAttribute}}</td>
                                <td>{{avu.avuValue}}</td>
                                <td>{{avu.avuUnit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
