<div ng-controller="CollectionCtrl" id="home-center" class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar pad-vertical" role="toolbar">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-home"></span><span
                            class="glyphicon-class"></span>
                    </button>
                    <span ng-repeat="coll in collection.path">
                    <button type="button" class="btn btn-link">/ {{coll}}</button>
                    </span>>
                </div>
            </div>
        </div>
    </div>
     
     <div x-ng-include="'js/src/assets/home/collectionActions-angularjs.html'"></div>
     <!-- 
    <div class="row emperor-grey">
        <div class="col-md-12">
            <div class="btn-toolbar pad-vertical" role="toolbar">
                <div class="btn-group">
                    <button ng-repeat="a in collection.actions" type="button" class="btn btn-default">
                        <span class="glyphicon {{a.icon}}"></span> <span
                            class="glyphicon-class">{{a.name}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
     -->

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Kind</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Modified</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "d in collection.data">
                    <td><input ng-click="update(d)" ng-model="d.selected" type="checkbox"></td>
                    <td>
                        <span class="glyphicon {{d.icon}}" />
                    </td>
                    <td>{{d.name}}</td>
                    <td>{{d.dataSize}}</td>
                    <td>{{d.created}}</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

    <div class="row stretch-row emperor-grey">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="btn-toolbar pad-vertical" role="toolbar">
                <div class="btn-group">
                    <button ng-click="page('first')" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button ng-click="page('prev')" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>

                    <button ng-repeat="n in pages()" ng-click="page($index)" type="button" class="btn btn-default">{{n}}</button>
                    <button ng-click="page('next')" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>

                    <button ng-click="page('last')" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

