<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://iren-web.renci.org/idrop-release"
    href="$outputFile">
  <information>
    <title>$project.Name</title>
    <vendor>$project.Organization.Name<vendor/>
    <homepage>$project.Organization.Url<homepage/>
    <description kind="one-line">$project.Description</description>
    <offline-allowed/>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"
     initial-heap-size="64m"
     max-heap-size="256m"
     />
     $dependencies
  </resources>
  <application-desc main-class="org.irods.jargon.idrop.desktop.systraygui.IDROPDesktop">
  </application-desc>
</jnlp>
