<div class="row emperor-grey">
    <div class="col-md-12 btn-toolbar pad-vertical" role="toolbar">

        <div class="btn-group">
            <button type="button" class="btn btn-sm" ng-show="numberSelected == 1" ng-click="viewInfoDetails()">
                <span class="glyphicon glyphicon-info-sign"></span> <span
                    class="glyphicon-class">{{ 'VIEW_DETAILS' | translate }}</span>
            </button>
            <button type="button" class="btn btn-sm" ng-show="numberSelected == 1">
                <span class="glyphicon glyphicon-pencil"></span> <span
                    class="glyphicon-class">{{ 'RENAME' | translate }}</span>
            </button>
            <button type="button" class="btn btn-sm" ng-show="numberSelected == 1">
                <span class="glyphicon glyphicon-transfer"></span> <span
                    class="glyphicon-class">{{ 'MOVE_COPY' | translate }}</span>
            </button>
            <button type="button" class="btn btn-sm" ng-click="createNewFolder()">
                <span class="glyphicon glyphicon-plus"></span> <span
                    class="glyphicon-class">{{ 'NEW_FOLDER' | translate }}</span>
            </button>
            <button type="button" class="btn btn-sm"  ng-show="numberSelected > 0">
                <span class="glyphicon glyphicon-trash"></span> <span
                    class="glyphicon-class">{{ 'DELETE' | translate }}</span>
            </button>

            <!--
            <button type="button" class="btn btn-default" ng-show="numberSelected > 0">
                <span class="glyphicon glyphicon-shopping-cart"></span> <span
                    class="glyphicon-class">{{ 'ADD_TO_CART' | translate }}</span>
            </button> -->
        </div>
    </div>
</div>

<!--
   <div class="col-md-12">
       <div class="btn-toolbar pad-vertical" role="toolbar">
           <div class="btn-group">
               <button ng-repeat="a in collection.actions" type="button" class="btn btn-default">
                   <span class="glyphicon {{a.icon}}"></span> <span
                       class="glyphicon-class">{{a.name}}</span>
               </button>
           </div>
       </div>
   </div>
</div>
-->

