<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: infoTab}"><a href="#" ng-click="showFileInfoTab(file.data.absolutePath)">{{
            'INFO' | translate }}</a></li>
        <li ng-class="{active: metadataTab}"><a href="#" ng-click="showFileMetadata(file.data.absolutePath)">{{
            'METADATA' | translate }}</a></li>
        <li><a href="#">{{ 'PERMISSIONS' | translate }}</a></li>
        <li><a href="#">{{ 'AUDIT' | translate }}</a></li>
        <li><a href="#">{{ 'EDIT' | translate }}</a></li>
        <li><a href="#">{{ 'RULE' | translate }}</a></li>
        <li><a href="#">{{ 'WORKFLOW' | translate }}</a></li>
    </ul>
</div>