        <div class="row">
            <div class="col-md-12">

                <button type="button"
                        class="btn btn-link" ng-click="selectParentCollection(file.parentPath)"> <span class="glyphext glyphext-folder-closed-large"></span>{{
                    file.parentPath | abbreviateFileName }}
                </button>
            </div>
        </div>
        <div class="row well well-sm" >
            <div class="col-md-10">
                <span class="{{getFileIconClass()}}"></span><h4>{{ file.childName }}</h4>
            </div>
            <div class="col-md-2" ng-show="file.starred">
                 <span class="glyphicon glyphicon-star" ng-click="toggleStar()"></span>
            </div>
            <div class="col-md-2" ng-hide="file.starred">
                <span class="glyphicon glyphicon-star-empty" ng-click="toggleStar()"></span>
            </div>
        </div>


